<div class="card">
  <div class="card-header">
    <h1>Editing Pin</h1>
  </div>
  <div class="card-body">
    <%= render 'form', pin: @pin %>
  </div>
  <div class="card-footer">
    <%= link_to 'Show', @pin %> |
<%= link_to 'Back', pins_path %>
  </div>
</div>





